.chapter {
  margin-top: 20px;

  &-title {
      h2 {
      display: flex;
      align-items: center;
    }
  }
  
  .md-img {
    display: inline-block;
    figcaption {
      margin: -.5em 0em 0em 0em;
    }
  }
  
  h2 {
    margin-top: 16px;
  }
  h3 {
    margin-top: 8px;
  }
  h4 {
    margin-top: 4px;
  }
}

