footer {
  max-width: 100%;
  overflow-x: auto;
  .btn-nav {
    background: var(--color-primary) !important;
    // filter: brightness(var(--lightness));
    * {
      color: white; // var(--fgColor-default, var(--color-fg-default)) !important;
    }
  }

  footer-image svg {
    display: block;
    width: 100%;
    height: auto;
    fill: var(--color-primary);
  }

  .footer-logo {
    width: 250px;
    vertical-align: bottom;
  }

  @media (max-width: $width-md) {      
    .footer-logo {
      display: none; /* hide logo on mobile, doesn't scale well 
      !!! and causes horizontal scrollbar and empty space beneath html tags */
      width: 120px;
    }
  }
}