header { 
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  padding: 0.6em;
  @media screen and (min-width: calc(860px - 1px)) {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    clip-path: inset(0px -15px 0px 0px); // show only right shadow}
  }
}

nav.header-nav {

  li {
    margin-top: 8px;
    font-weight: 400;
    cursor: context-menu;
  }
  
  .accordion_label {
    cursor: pointer;
  }
  
  a {
    color: white;
    opacity: 1;
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
    min-width: 180px;
  }
  
  a.active, label.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .with-icon {
    display: flex;
    justify-content: space-between;
    img {
      width: 25px;
    }
  }

  .header-nav-content {
    height: 100vh;
    overflow-y: auto;

    &>ul {
      list-style-type: disclosure-closed;
      margin: 0;
      color: white;
      padding: 0 20px 0;

      a {
        padding: 0;
      }
    }

    li.active {
      list-style-type: disclosure-open;
    }
    li:has(> .accordion_input:checked) { // has is not supported in FF yet
      list-style-type: disclosure-open;
    }
  }

  .accordion_input {
    display: none;
  }

  .accordion_label {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
  }

  .accordion_sub-menu {
    display: none;
  }

  .accordion_input:checked ~ .accordion_sub-menu {
    display: block;
    color: white;
    list-style-type: square;
  }

  .toggle-btn {
    i {
      color: white;
      font-size: 20px;
    }
  }
}
