@import './utilities.scss';

.quiz-container {
  display: block;
  padding: 10px;
  @include default-style;
}

.react-quiz-container {
  margin: unset;
  font-family: unset;
  font-weight: unset;
  font-size: var(--body-font-size, 14px);
  width: unset !important;
  max-width: fit-content;

  .questionWrapperBody > :nth-child(2) {
    @include default-color();
  }

  //  * {all: unset !important;}
  h2 {
    color: var(--color-primary-light);
    margin-bottom: 0.5em;
  }
  .quiz-synopsis {
    all: unset !important;
  }
  
  img {
    max-width: 80%;
    align-self: center;
  }
  
  
  .btn {
    font-weight: unset !important;
    font-size: unset !important;
    border-color: var(--borderColor-muted, var(--color-border-muted)) !important;
    border-radius: 6px !important;
    margin-right: 0.5em;
    margin-left: 0.5em;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
    img {
      max-width: 250px;
    }
    &:not(.incorrect):not(.correct) {
      @include default-color();
      background-color: var(--bgColor-default, var(--color-bg-default))  !important;
    }
  }
  .startQuizBtn {
    @include default-color();
    background-color: var(--bgColor-default, var(--color-bg-default))  !important;
  }

  .answerBtn {
    width: unset !important;
    > span {
      font-size: unset;
    }
  }

  
  .incorrect {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.6;
  }
  
  .quiz-result-filter {
    @include default-style();
    & * {
      border: none !important;
    }
  }
  
  .result-answer-wrapper {
    @include default-style;
    h3 {
      @include default-color;
    }
    .explanation {
      border-radius: 6px;
    }
    *:disabled {
      opacity: 1;
    }
  }
  
}
