.quiz-container {
  display: block;
  // border: 0.5px solid var(--color-primary-light);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px;
  border-radius: 1rem;
  font-family: unset !important;
}

.react-quiz-container {
  .startQuizBtn {
    color: var(--fgColor-default, var(--color-fg-default)) !important;
    background-color: var(--bgColor-default, var(--color-bg-default))  !important;
  }
  all: unset !important;
  h2 {
    color: var(--color-primary-light);
    margin-bottom: 0.5em;
  }
  .quiz-synopsis {
    all: unset !important;
  }
  
  img {
    max-width: 80%;
    align-self: center;
  }
  
  
  .btn {
    border-color: var(--borderColor-muted, var(--color-border-muted)) !important;
    border-radius: 6px !important;
    margin-right: 0.5em;
    margin-left: 0.5em;
    &:not(:disabled):not(.incorrect):hover {
      filter: brightness(105%);
      opacity: 0.9;
    }
    &:not(:disabled):active {
      filter: brightness(105%);
      opacity: 0.8;
    }
    &:disabled {
      // color: var(--fgColor-default, var(--color-fg-default)) !important;
      // background-color: var(--bgColor-default, var(--color-bg-default))  !important;
      cursor: not-allowed;
      opacity: 0.6;
    }
    img {
      max-width: 250px;
    }
    &:not(.incorrect):not(.correct) {
      color: var(--fgColor-default, var(--color-fg-default)) !important;
      background-color: var(--bgColor-default, var(--color-bg-default))  !important;
    }
  }

  .answerBtn {
    width: unset !important;
    > span {
      font-size: unset;
    }
  }

  .result-answer-wrapper,.explanation {
    border-radius: 0.5rem;
  }

  .incorrect {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.6;
  }
 
}
