.react-quiz-container {
  width: unset !important;
  margin: unset !important;
  h2 {
    color: var(--color-primary-light);
    font-size: smaller;
  }
  .quiz-synopsis {

  }

  .btn {
    background-color: #fff;
    border-color: var(--color-primary-light);
    color: black;
    font-weight: unset !important;
    font-family: unset;
  }
}
