@import './utilities.scss';

.quiz-container {
  display: block;
  padding: 10px;
  @include default-style;
}

.react-quiz-container {
  margin: unset;
  font-family: unset;
  font-weight: unset;
  font-size: var(--body-font-size, 14px);
  width: unset !important;
  max-width: fit-content;

  .questionWrapperBody > :nth-child(2) {
    @include default-color();
  }

  //  * {all: unset !important;}
  h2 {
    color: var(--color-primary-light);
    margin-bottom: 0.5em;
  }
  .quiz-synopsis {
    all: unset !important;
  }
  
  img {
    max-width: 80%;
    align-self: center;
  }
  
  
  .btn {
    font-weight: unset !important;
    font-size: unset !important;
    @include default-border;
    padding: var(--base-size-8, 8px) !important;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
    img {
      max-width: 250px;
    }
    &:not(.incorrect):not(.correct) {
      @include default-color();
    }
  }
  .answerBtn {
    min-width: 52px;
    width: unset !important;
    > span {
      font-size: unset;
    }
  }

  .correct {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.6;
    @include primer-success-emphasis;
  }
  .incorrect {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.6;
    @include primer-danger-emphasis;
  }

  .tag-container {
    *:not(.number-of-selection) {
      display: none;
    }
    .number-of-selection {
      @include primer-open;
    }
  }

  
  .quiz-result-filter {
    @include default-style();
    & * {
      border: none !important;
    }
  }
  
  .result-answer-wrapper {
    @include default-style;
    h3 {
      @include default-color;
    }
    *:disabled {
      opacity: 1;
    }
    .explanation {
      @include default-style;
    }
  }
  
}
