.quiz-container {
  display: block;
  // border: 0.5px solid var(--color-primary-light);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px;
  border-radius: 1rem;
}

.react-quiz-container {
  all: unset !important;
  h2 {
    color: var(--color-primary-light);
    font-size: smaller;
  }
  .quiz-synopsis {
    all: unset !important;
  }

  img {
    max-width: 80%;
    align-self: center;
  }

  
  .btn {
    font-family: unset !important;

    background-color: white;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem !important;
    transition: color .1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: var(--color-primary-light);
    &:not(:disabled):hover {
      filter: brightness(105%);
      opacity: 0.9;
    }
    &:not(:disabled):active {
      filter: brightness(105%);
      opacity: 0.8;
    }
    &:not(>.result-answer-wrapper):disabled {
      filter: brightness(90%);
      opacity: 0.5;
    }
    &:disabled {
      cursor:default;
    }
   
    img {
      max-width: 250px;
    }
  }

  .answerBtn {
    width: unset !important;
  }

  .result-answer-wrapper,.explanation {
    border-radius: 0.5rem;
  }

}
