.search-results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    strong {
        color: unset;
    }
}

.search-result {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 10px 12px;
    animation: fadeIn 0.5s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .content-match {
        p {
            margin: 0;
            padding: 0;
        }

        >:not(:last-child) {
            margin-bottom: 8px;
            padding-bottom: 8px;
        }
        >:last-child {
            border-bottom: none !important;
        }
    }
}

.search-input {
    max-width: 512px;
}
