.content {
  strong {
    color: var(--color-primary);
    filter: brightness(--lightness);
  }
  .md-img {
    display: block;
  }
  .section-title {
    display: flex;
    h1 {
      color: white;
      display: inline-block;
      border-radius: 6px;
      flex-grow: 1;
      height: fit-content;
      align-self: center;
    }
    .icon {
      align-self:center; 
      width: 80px;
    }
  }

  .chapter {
    margin-top: 20px;
  
    &-title {
        h2 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
      }
    }
    
    .md-img {
      display: inline-block;
      figcaption {
        margin: -.5em 0em 0em 0em;
      }
    }
    
    // h2 {
    //   margin-top: 16px;
    // }
    h3 {
      margin-top: 8px;
    }
    h4 {
      margin-top: 4px;
    }
  }
}

