.content {
  strong {
    color: var(--color-primary);
    filter: brightness(--lightness);
  }
  .md-img {
    display: block;
  }
  .section-title {
    h1 {
      color: white;
      background-color: var(--color-primary);
      display: inline-block;
      width: calc(100% - 80px);
      margin-top: -10px;
    }
    .icon {
      align-self:center; // height: 100%;
      // margin: 0em 1.5em 0em -1.5em;
      width: 80px;
      margin-top: 20px;
    }
  }

  .chapter {
    margin-top: 20px;
  
    &-title {
        h2 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
      }
    }
    
    .md-img {
      display: inline-block;
      figcaption {
        margin: -.5em 0em 0em 0em;
      }
    }
    
    // h2 {
    //   margin-top: 16px;
    // }
    h3 {
      margin-top: 8px;
    }
    h4 {
      margin-top: 4px;
    }
  }
}

