.content {
  .table-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }
  table {
    box-shadow: inset 0px 0px 0px 1px var(--color-primary);
    border-radius: var(--borderRadius-medium, 6px);
    border-collapse: unset;
    th:first-child {
      border-radius: var(--borderRadius-medium, 6px) 0 0 0;
    }
    th:last-child {
      border-radius: 0 var(--borderRadius-medium, 6px) 0 0;
    }
    td:first-child,
    th:first-child {
      border-left: none;
    }
    th {
      background-color: var(--color-primary-light);
    }
    td, th {
      padding: 10px;
    }
    tbody {
      td, th {
        box-shadow: inset 0px 0px 0px 0.5px var(--color-primary);
      }
      tr:hover {
        background-color: var(--color-btn-hover-bg);
      }
      tr:last-child {
        :first-child {
          border-radius: 0 0 0 var(--borderRadius-medium, 6px);
        }
        :last-child {
          border-radius: 0 0 var(--borderRadius-medium, 6px) 0;
        }
      }
    }
  }
}