---
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleCard from '../../components/ArticleCard.astro';
import { getArticleById } from '../../utils/data';

export async function getStaticPaths() {
  // Since articles are not implemented yet, return empty array
  // This will be populated when articles are added to Strapi
  return [];
}

const { id } = Astro.params;
const article = await getArticleById(id as string);

if (!article) {
  return Astro.redirect('/404');
}
---

<MainLayout title={`${article.title} - Thilo`}>
  <div class="article-page">
    <article class="article-full">
      <ArticleCard article={article} showFullContent={true} />
    </article>
    
    <nav class="article-nav">
      <a href="/" class="back-link">← Zurück zur Startseite</a>
    </nav>
  </div>
</MainLayout>

