// primer files:
// CSS color variables: Must come first
@import '@primer/css/color-modes/index.scss';
// Global requirements: Must come second
@import '@primer/css/core/index.scss';

// Primer components
@import "@primer/css/layout/index.scss";

// @import './styles/fonts/fonts.css';
@import './styles/section.scss';
@import './styles/chapter.scss';
@import './styles/search.scss';
// @import './styles/nav.scss';
// @import './styles/footer.scss';
@import './styles/loading.scss';
@import './styles/quiz.scss';
@import './styles/utilities.scss';


:root {
  --color-primary: #521d3a;
  --color-primary-light: #8c3c4f;
  --lightness: 120%;
  --line-height: 1.5;
}

html {
  font-family: sans-serif;

  
  /* TODO: think about scrollbar design
  scrollbar-color: var(--color-primary) var(--color-primary-light);
  scrollbar-width: thin;
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: var(--color-primary-light);
    &:hover {
      background: brightness(var(--lightness));
    }
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    -webkit-border-radius: 5px;
    &:hover {
      background: brightness(var(--lightness));
    }
  }
  */
}


body, #root {
  margin: 0;
  height: 100%; // fixes 100vh on mobile browsers
  overflow: hidden;
}

.App {
  min-height: 100vh; // fills available space with footer at the bottom
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--color-primary);
}
h4 {
  color: var(--color-primary-light);
}

ul, ol {
  list-style-position:inside;

}


.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-primary-light) !important;
}

.icon {
  align-self:center; // height: 100%;
  // margin: 0em 1.5em 0em -1.5em;
  padding-right: 0.5em;
  width: 80px;
}