// primer files:
// CSS color variables: Must come first
@import '@primer/css/color-modes/index.scss';
// Global requirements: Must come second
@import '@primer/css/core/index.scss';

@import '@primer/primitives/dist/scss/colors/_light.scss';

// Primer components
@import "@primer/css/layout/index.scss";

// @import './styles/fonts/fonts.css';
@import './styles/section.scss';
// @import './styles/nav.scss';
@import './styles/header.scss';
@import './styles/table.scss';
@import './styles/search.scss';
@import './styles/footer.scss';
@import './styles/loading.scss';
@import './styles/quiz.scss';
@import './styles/utilities.scss';


:root {
  --color-primary: #521d3a;
  --color-primary-light: #632949;
  --color-accent-emphasis: #8c3c4f;
  --lightness: 120%;
  --line-height: 1.5;
}

#root > div > div > div {
  max-width: unset;
}

#main-content {
  max-width: 1280px;
  margin: auto;
}
