// primer files:
// CSS color variables: Must come first
@import '@primer/css/color-modes/index.scss';
// Global requirements: Must come second
@import '@primer/css/core/index.scss';

@import '@primer/primitives/dist/scss/colors/_light.scss';

// Primer components
@import "@primer/css/layout/index.scss";

// @import './styles/fonts/fonts.css';
@import './styles/section.scss';
@import './styles/chapter.scss';
// @import './styles/nav.scss';
@import './styles/header.scss';
@import './styles/table.scss';
@import './styles/search.scss';
@import './styles/footer.scss';
@import './styles/loading.scss';
@import './styles/quiz.scss';
@import './styles/utilities.scss';


:root {
  --color-primary: rgba(56,139,253,0.7);
  --color-primary-light: rgba(56,139,253,0.4);
  --color-accent-emphasis: #8c3c4f;
  --lightness: 120%;
  --line-height: 1.5;
}

#root > div > div > div {
  max-width: unset;
}

#main-content {
  max-width: 1280px;
  margin: auto;
}

.content {
  h1 {
    scroll-margin-top: 128px;
  }
  h2, h3, h4, h5, h6 {
    scroll-margin-top: calc(64px + var(--base-size-16, 16px) + 10px);
  }
  h1, h2, h3 {
    color: var(--color-primary);
  }
  h4 {
    color: var(--color-primary-light);
  }
  .icon {
    align-self:center; // height: 100%;
    // margin: 0em 1.5em 0em -1.5em;
    padding-right: 0.5em;
    width: 80px;
  }
  img {
    max-width: 100%;
  }
  
  ul, ol {
    padding-left: 1em;
    li::marker {
      color: var(--color-primary);
    }
  }

  p {
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
  }
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-primary-light) !important;
}
